@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absoluteCenter {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin bgContain($image) {
  background-image: url($image);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin mobileScreen {
  @media screen and (max-width: 450px) {
    @content;
  }
}

@mixin tabletScreen {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin desktopScreen {
  @media screen and (max-width: 1450px) {
    @content;
  }
}
