.sctWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba(107, 121, 152, 0.3);
  padding-bottom: 15px;
  margin-top: 30px;

  p {
    @include fontNormalize;
    font-weight: 800;
    color: #5b6987;
    &.blueTitle {
      color: #4361ee;
    }
  }
  span {
    font-size: 16px;
    @include fontNormalize;
    font-weight: bold;
    color: #6b7998;
  }
}
